body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html { 
  background: url(themes.jpg) no-repeat center center fixed; 
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.big_button {
   width: 100%;
   height: 100%;
}
